<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Management</title>
    <style></style>
  </head>
  <body>
    <div class="container">
      <h1>Car Management</h1>
      <form method="post" action="/Car">
        <label for="action">Choose an action:</label>
        <select name="action" id="action">
          <option value="create">Create New Car</option>
          <option value="update">Update Existing Car</option>
          <option value="delete">Delete Car</option>
        </select>

        <input
          type="text"
          name="car_id"
          placeholder="Car ID (required for update/delete)"
        />
        <input
          type="text"
          name="make"
          placeholder="Make (required for create)"
        />
        <input
          type="text"
          name="model"
          placeholder="Model (required for create)"
        />
        <input
          type="number"
          name="year"
          placeholder="Year (required for create)"
        />
        <input
          type="text"
          name="location"
          placeholder="Location (required for create)"
        />
        <input
          type="text"
          name="status"
          placeholder="Status (required for create)"
        />
        <input
          type="text"
          name="damage"
          placeholder="Damage (required for Update)"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
