<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Management</title>
    <style></style>
  </head>
  <body>
    <div class="container">
      <h2>Customer Management</h2>
      <form method="post" action="/customer">
        <label for="action">Choose an action:</label>
        <select name="action" id="action" required>
          <option value="create">Create New Customer</option>
          <option value="update">Update Existing Customer</option>
          <option value="delete">Delete Customer</option>
        </select>

        <div class="instructions">
          - For <strong>Create</strong>, fill in all fields.<br />
          - For <strong>Update</strong>, provide Name and other fields to
          update.<br />
          - For <strong>Delete</strong>, only Name is required.
        </div>

        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter Name"
          required
        />

        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          name="address"
          placeholder="Enter Address"
        />

        <label for="branch">Branch:</label>
        <input
          type="text"
          id="branch"
          name="branch"
          placeholder="Enter Branch"
        />
        <label for="customerID">Customer ID:</label>
        <input
          type="text"
          id="customerID"
          name="customerID"
          placeholder="Enter customer ID"
        />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
